<div class="section" id="certifications">
    <h2 class="section-title">🏅 Certifications</h2>
    <div class="cert-grid">
        <div class="cert-item">
            <div class="cert-name">정보처리기사</div>
            <div class="cert-details">
                한국산업인력공단<br>
                응시: 2025.09.10 / 2025.11.08<br>
                등록번호: 25203240800H
            </div>
        </div>
        <div class="cert-item">
            <div class="cert-name">SQLD (SQL 개발자)</div>
            <div class="cert-details">
                한국데이터산업진흥원<br>
                응시: 2025.12.05<br>
                등록번호: SQLD-059006092
            </div>
        </div>

        <div class="cert-item">
            <div class="cert-name">TOPCIT 수준 4</div>
            <div class="cert-details">
                정보통신기획평가원<br>
                응시: 2025.11.08<br>
                등록번호: TL2502002353
            </div>
        </div>
        <div class="cert-item">
            <div class="cert-name">TOEIC 835점</div>
            <div class="cert-details">
                YBM<br>
                응시: 2025.03.09<br>
                등록번호: 148578
            </div>
        </div>
    </div>
</div>