<div class="section" id="education">
    <h2 class="section-title">📖 Education</h2>

    <!-- 카카오엔터프라이즈 SW아카데미 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/KakaoEnterprise.png" alt="KakaoEnterprise Logo">
        </div>
        <div class="job-info">
            <h4>카카오엔터프라이즈 SW아카데미 (Micro Degree)</h4>
            <p>2025.03 - 2025.09 (수료) | 소프트웨어 전공인재 마이크로디그리 취득</p>
            <p style="font-size: 0.9em; color: #666; margin-top: 5px;">
                • 데이터 관리기술 Lab • 웹 애플리케이션 개발 Lab • 시스템 아키텍처 Lab
            </p>
        </div>
    </div>

    <!-- 가천대학교 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/GachonUniv.svg" alt="Gachon Univ Logo">
        </div>
        <div class="job-info">
            <h4>가천대학교, AI소프트웨어 학과 (소프트웨어전공)</h4>
            <p>2020.03.02 - 2026.02.12 (졸업 예정) | 학점 4.07 / 4.5</p>
        </div>
    </div>

    <!-- 고색고등학교-->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/GosaekHighschool.svg" alt="Gosaek High School Icon">
        </div>
        <div class="job-info">
            <h4>고색고등학교, 이과</h4>
            <p>2017.03.02 - 2020.01.02 (졸업)</p>
        </div>
    </div>
</div>