<div class="section" id="education">
    <h2 class="section-title">📖 Education</h2>

    <!-- 카카오엔터프라이즈 SW아카데미 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/KakaoEnterprise.png" alt="Kakao Logo">
        </div>
        <div class="job-info">
            <h4 class="job-title">카카오엔터프라이즈 SW아카데미</h4>

            <div class="job-meta-row">
                <span class="job-period">2025.03 - 2025.09</span>
                <span class="status-badge">수료</span>
            </div>

            <div class="job-degree">
                Micro Degree: 소프트웨어 전공인재 과정
            </div>

            <p class="job-details">
                • 데이터 관리기술 Lab • 웹 애플리케이션 개발 Lab • 시스템 아키텍처 Lab
            </p>
        </div>
    </div>

    <!-- 가천대학교 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/GachonUniv.svg" alt="Gachon Univ Logo">
        </div>
        <div class="job-info">
            <h4 class="job-title">가천대학교</h4>
            
            <div class="job-meta-row">
                <span class="job-period">2020.03 - 2026.02</span>
                <span class="status-badge">졸업</span>
            </div>

            <div class="job-degree">
                AI소프트웨어학과(소프트웨어 전공) 공학사
            </div>

            <p class="job-details">
                GPA: 4.07 / 4.5
            </p>
        </div>
    </div>

    <!-- 고색고등학교 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/GosaekHighschool.svg" alt="High School Icon">
        </div>
        <div class="job-info">
            <h4 class="job-title">고색고등학교</h4>
            
            <div class="job-meta-row">
                <span class="job-period">2017.03 - 2020.01</span>
                <span class="status-badge">졸업</span>
            </div>

            <div class="job-degree">
                이과 계열
            </div>
        </div>
    </div>
</div>
