<div class="section" id="workexperience">
    <h2 class="section-title">💻 Work Experience</h2>

    <!-- (주)안랩 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/AhnLab.svg" alt="AhnLab Logo">
        </div>
        <div class="job-info">
            <h4>(주) 안랩</h4>
            <div class="job-meta-row">
                <span class="job-period">2026.02.02 - 재직</span>
                <span class="status-badge">EDR개발팀</span>
            </div>
            <p class="job-details">25년 하반기 공채 - 웹개발자</p>
        </div>
    </div>

    <!-- (주)한글과컴퓨터 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/Hancom.svg" alt="Hancom Logo">
        </div>
        <div class="job-info">
            <h4>(주) 한글과컴퓨터</h4>
            <div class="job-meta-row">
                <span class="job-period">2025.09.01 - 2026.02.01</span>
                <span class="status-badge">IT인프라팀</span>
            </div>
            <p class="job-details">25년도 2학기 근로장학생</p>
        </div>
    </div>
</div>