<div class="section" id="workexperience">
    <h2 class="section-title">💻 Work Experience</h2>

    <!-- (주)안랩 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/AhnLab.svg" alt="AhnLab Logo">
        </div>
        <div class="job-info">
            <h4>(주) 안랩 - 웹개발자</h4>
            <p>2026.02.02 - 현재</p>
        </div>
    </div>

    <!-- (주)한글과컴퓨터 -->
    <div class="edu-item job-item">
        <div class="company-logo">
            <img src="./assets/logo/Hancom.svg" alt="Hancom Logo">
        </div>
        <div class="job-info">
            <h4>(주) 한글과컴퓨터 - IT인프라팀</h4>
            <p>2025.09.01 - 2026.02.01</p>
        </div>
    </div>
</div>